@import 'globals';

.md-toolbar--themed .md-title--toolbar {
    color: rgba(0, 0, 0, 0.65);
}
.md-list-tile{
    padding-left: 25px;
    padding-right: 25px;
    i{
        font-size: 22px;
    }
    .md-tile-addon--icon {
        width: 20px;
    }
}
nav{
    .md-toolbar{
        height: 0;
    }
}
.md-edit-dialog__blocked-field.md-edit-dialog__blocked-field{
    width: 100%
}

.md-picker-container{
    .md-text-field-container{
        display: none;
    }
}
.md-table-body{
    .md-table-column:first-child {
        padding-left: 7px;
    }
    .checkbox-column{
        width: 30px;
        padding-right: 10px;
    }
    .datepicker-column{
        & *{
            transition: all linear .4s;
        }
        cursor: pointer;
        width: 130px;
        padding-right: 10px;
        i{
            margin-right: 5px;
            line-height: 24px;
            vertical-align: top;
        }
        time{
            vertical-align: text-bottom;
            line-height: 27px;
            display: inline-block;
        }
    }
    .avatar-column{
        width: 60px;
        .task-avatar{
            display: inline-block;
            width: 35px;
            height: 35px;
            background-position: center center;
            background-size: cover;
            border-radius: 50%;
            cursor: pointer;
            
        }
    }
    .task-description-column{
        font-size: 13px;
    }

    .task-completed{
        .task-description-column{
            color: #929292;
            text-decoration: line-through;
        }
        .datepicker-column {
            cursor: default;
            & *{
                color: #929292;
            }
        }
        .avatar-column{
            .task-avatar{
                cursor: default;
            }
        }
    }
}


